.platinum{
  margin-block: 80px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.sponsorsHeading1{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight:  700;
  color: #0072bb;
  font-size: 5em;
  margin-top: 2vh;
  margin-bottom: 5vh;
}
.sponsorsHeading2{
  
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  font-weight: 700;
  color: #0072bb;
  font-size: 4em;
  margin-top: 6vh;
  margin-bottom: 8vh;
  
}
.hero {
  height: 100vh;
  background-image: radial-gradient(ellipse,transparent,rgba(26, 87, 158, 0.541)),url(/src/pages/cars/taditImgT-4.jpg);
  /* background: rgb(0,184,232); */
  /* background: radial-gradient((circle, transparent ,rgba(0,184,232,1) 0%, rgba(73,223,227,1) 50%, rgba(49,67,244,1) 100%),url(/sponsors/logo/headingBg.jpg)); */
  background-size: cover;
  width: 100vw;
  background-position: 50% 50%;
  object-fit: cover;
  position: relative;
  text-align: center;
  background-color: #0093E9;
/* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */

  
}

.hero-image {
  height: 100vh;
  width: 100vw;
  
  /* background-color: rgba(50, 170, 226, 0.5); */
  position: relative;
  top: 0%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.hero h1 {
  /* font-family: Raleway; */
  font-size: 5em;
  font-weight: 700;
  /* font-variant: small-caps; */
  line-height: 75px;
  position: relative;
  top: -5%;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.hero p {
  /* padding-top: 2%; */
  /* padding-left: 5%; */
  /* font-family: Raleway; */
  font-size: 2em;
  font-weight: 400;

  position: relative;
  bottom: 5%;
  
  line-height: 50px;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}
.logo{
  width: 40vh;
  height: 20vh;

}

.hh{
  margin-bottom: 30px;
}



.oo{
  margin-top: 60px;
  /* border-bottom: 3px solid #1E40AF ; */
}

.uu{
  margin: 0px 30px;
}


.line2{
  /* position: relative; */
  width: 100%;
  border-bottom: 5px solid #0072bb;
  margin-top: 60px;
}
.racingCar1{
  width: 200px;
  position: relative;
  animation: runningCar 10s linear infinite;
}

@keyframes runningCar {
  0%{left: 0;}

  25%{
    left: 25%;
  }  
  50%{
    left: 50%;

  }
  75%{
    left: 75%;
  }
  100%{
    left: 100%;
  }
}
.ending{
  display: flex;
  justify-content: space-around;
  margin-block: 60px;
  flex-wrap: wrap;

}

.thanks{
  margin-top: 60px;
  
}

/* .tp{
  background: #f1d592
 
}
.lft{
  background: #f1d592
}
.rgt{
  background: #f1d592
}
.btm{
  background: #f1d592
} */
@media only screen and (max-width: 1024px) {
  .sponsorsHeading1{
    margin-top: 20px;
   text-align: center;
    font-size: 3em;
  }
  .sponsorsHeading2{
    margin-top: 40px;
   text-align: center;
    font-size: 2.5em;
  }
  .racingCar1{
    width: 100px;
  animation: runningCar 3s linear infinite;
 

  }
  .logo{
    width: 300px;
    height: 200px;
    padding: 40px;
  }
  .mrow1{
    margin-top: 10px;


  }

  /* .brochure{
    display: flex;
    justify-content: center;
  } */

  .broHead{
    font-size: 2em;
  }

  .brochure{
    padding: 20px;

  }

  


  .logos{
    padding: 40px;
  }

  .platinum{
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .morw2{

    display: flex;
    justify-content: space-between;
  }

  .hero h1{
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 800;
    
    line-height: 40px;
    letter-spacing: 1.5px;
  

  }

  .hero p{
    font-size: 1em;
    line-height: 22px;
  }

  .hero{
       background-size: cover;
       background-repeat: no-repeat;
  }

}