.platinum{
  margin-block: 80px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.sponsorsHeading1{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight:  700;
  color: #0072bb;
  font-size: 5em;
  margin-top: 2vh;
  margin-bottom: 5vh;
}
.sponsorsHeading2{
  
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  font-weight: 700;
  color: #0072bb;
  font-size: 4em;
  margin-top: 8vh;
  margin-bottom: 8vh;
  
}
.hero {
  height: 100vh;
  background: url(/src/pages/sponsors/logo/headingBg.jpg);
  background-size: cover;
  width: 100vw;
  background-position: 50% 50%;
  object-fit: cover;
  position: relative;
  text-align: center;
}

.hero-image {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-family: Raleway;
  font-size: 5em;
  font-weight: 400;
  font-variant: small-caps;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.hero p {
  padding-top: 2%;
  padding-left: 5%;
  font-family: Raleway;
  font-size: 2em;
  font-weight: 400;
  
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.logo{
  width: 40vh;
  height: 20vh;
}
.hh{
  margin-bottom: 30px;
}



.oo{
  margin-top: 40px;
  border-bottom: 2px solid ;
}

.uu{
  margin: 0px 30px;
}

@media only screen and (max-width: 1024px) {
  .sponsorsHeading1{
    margin-top: 20px;
   text-align: center;
    font-size: 3em;
  }
  .sponsorsHeading2{
    margin-top: 40px;
   text-align: center;
    font-size: 2.5em;
  }
  .logo{
    width: 200px;
    height: 150px;
  }
  .mrow1{
    margin-top: 10px;

  }
  .morw2{

    display: flex;
    justify-content: space-between;
  }

  .hero h1{
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 800;
    
    line-height: 40px;
    letter-spacing: 1.5px;
  

  }

  .hero p{
    font-size: 1em;
    line-height: 22px;
  }

  .hero{
       background-size: cover;
       background-repeat: no-repeat;
  }

}