// Carousel configuration parameters
$item-width: 96%; // Now we can use percentages!
$item-separation: 0px; // This now is set with Js
$viewer-distance: 400px;

.carousel {
  background: rgb(0, 212, 255);
  background: radial-gradient(
    circle,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 52%,
    rgba(2, 0, 36, 1) 97%
  );
  padding: 20px;

  perspective: $viewer-distance;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    flex: 0 0 auto;
  }
  height: 100%;

  figure {
    margin: 0;
    height: 100%;

    width: 40%;
    transform-style: preserve-3d;
    transition: transform 0.5s;

    .main {
      width: 100%;
      box-sizing: border-box;
      padding: 0 calc($item-separation / 2);

      &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;

    button {
      flex: 0 0 auto;
      margin: 0 5px;

      cursor: pointer;

      color: #333;
      background: rgb(203 213 225);
      border: 1px solid;
      letter-spacing: 1px;
      padding: 5px 10px;
    }
  }
}

.btn-class-name {
  // --color: 180,255, 100;
  border-radius: 0.5em;
  transition: 0.3s;
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
  // background-color: rgba(var(--color), .2);
  // color: white;
  fill: rgb(23 37 84 / var(--tw-bg-opacity));
  font-family: monospace;
  font-weight: bolder;
  font-size: x-large;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: 2px solid rgb(203 213 225 / var(--tw-bg-opacity));
  box-shadow: 0 0 10px rgb(203 213 225 / var(--tw-bg-opacity));
  outline: none;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}

.btn-class-name:hover {
  box-shadow: 0 0 0 5px rgb(203 213 225 / var(--tw-bg-opacity));
}

.btn-class-name span {
  color: rgb(23 37 84 / var(--tw-bg-opacity));
  // color: white;
  transform: scale(0.8);
  transition: 0.3s;
}

.btn-class-name:hover span {
  transform: scale(1);
}

.btn-class-name .next-arr {
  font-size: 0;
  transform: scale(0.5) translateX(0%) rotate(-180deg);
  transition: 0.3s;
}

.btn-class-name:hover .next-arr {
  font-size: 20px;
  transform: scale(1) translateX(20%) rotate(0deg);
}

.btn-class-name .prev-arr {
  font-size: 0;
  transform: scale(0.5) translateX(0%) rotate(0deg);
  transition: 0.3s;
}

.btn-class-name:hover .prev-arr {
  font-size: 20px;
  transform: scale(1) translateX(-20%) rotate(180deg);
}

.btn-class-name:active {
  transition: 0s;
  box-shadow: 0 0 0 5px rgb(203 213 225 / var(--tw-bg-opacity));
}

@media only screen and (max-width: 768px) {
  .carousel {
    figure {
      width: $item-width;
    }
  }
}

// tadit

.tadit {
  margin-bottom: 100px;
}

.hero-car {
  background-image: url(src/pages/cars/taditImg/tadit-1.jpg);
  position: relative;
  background-size: cover;
  height: calc(100vh - 80px);
}

.taditTitle1 {
  position: absolute;
  left: 40%;
  top: 2%;
}

.taditTitle2 {
  position: absolute;
  left: 38%;
  top: 15%;
}
.taditTitle3 {
  position: absolute;
  left: 36.5%;
  top: 22%;
}

.smallInfocontainer {
  font-weight: 900;
  color: white;
  top: 65%;
  left: 5%;
  position: absolute;
  display: flex;
  align-items: center;
}

.year {
  text-align: center;
  margin-right: 20px;
}

.year p {
  font-size: 32px;
  margin: 0;
  color: #fafafa;
}

.year h1 {
  font-size: 48px;
  margin: 0;
}

.separator {
  border-left: 2px solid #bbbbbb;
  height: 100px;
  margin-right: 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stat img {
  width: 30px;
  height: 30px;
}

.stat p {
  font-size: 16px;
  margin: 0;
  color: #ffffff;
}

.stat h2 {
  font-size: 22px;
  margin: 0;
}

.tadit-info {
  // margin-top: 20px;
  background-image: url(/src/pages/cars/taditImg/tadit-info2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.infoHeading {
  position: absolute;
  top: 2%;
  left: 2%;
}

#showButton {
  position: absolute;
  z-index: 1;
  width: 5%;
  height: 5%;
  // border-radius: 50%;
  // background-size: 100%;
  left: 68%;
  top: 70%;
  box-shadow: 0 0 0 0 #ea1d2d;
  transform: scale(1);
  animation: pulse-yellow 2s infinite;
}
// #showButton #showButton2 :hover{
//   animation: none;
// }

#showButton2 {
  position: absolute;
  z-index: 1;
  width: 5%;
  height: 5%;
  // border-radius: 10%;
  // background-size: 100%;
  left: 37%;
  top: 40%;
  animation: pulse-yellow 2s infinite;
}

#showButton3 {
  position: absolute;
  z-index: 1;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  animation: pulse-yellow 2s infinite;

  background-size: 100%;
  left: 20%;
  top: 80%;
}

#showButton4 {
  position: absolute;
  z-index: 1;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  animation: pulse-yellow 2s infinite;

  background-size: 100%;
  left: 61%;
  top: 20%;
}

#showButton5 {
  position: absolute;
  z-index: 1;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  animation: pulse-yellow 2s infinite;

  background-size: 100%;
  left: 71%;
  top: 40%;
}

.plusBtn {
  width: 50px;
  height: 50px;
}

.pinTextShow-2 {
  position: absolute;
  bottom: unset;
  opacity: 0;
  border-radius: 8px;
  top: 40%;
  left: 20%;
  transform: translateY(-30%);
  background-color: rgba(38, 60, 78, 0.9);
  box-shadow: 0 0 30px 0 #001a30;
  padding: 36px 30px;
  z-index: 1;
  width: 100vw;
  max-width: 300px;
}
.pinTextShow-3 {
  position: absolute;
  bottom: unset;
  opacity: 0;
  border-radius: 8px;
  top: 80%;
  left: 25%;
  transform: translateY(-30%);
  background-color: rgba(38, 60, 78, 0.9);
  box-shadow: 0 0 30px 0 #001a30;
  padding: 36px 30px;
  z-index: 1;
  width: 100vw;
  max-width: 300px;
}
.pinTextShow-4 {
  position: absolute;
  bottom: unset;
  opacity: 0;
  border-radius: 8px;
  top: 18%;
  left: 65%;
  transform: translateY(-30%);
  background-color: rgba(38, 60, 78, 0.9);
  box-shadow: 0 0 30px 0 #001a30;
  padding: 36px 30px;
  z-index: 1;
  width: 100vw;
  max-width: 300px;
}
.pinTextShow-5 {
  position: absolute;
  bottom: unset;
  opacity: 0;
  border-radius: 8px;
  top: 38%;
  left: 75%;
  transform: translateY(-30%);
  background-color: rgba(38, 60, 78, 0.9);
  box-shadow: 0 0 30px 0 #001a30;
  padding: 36px 30px;
  z-index: 1;
  width: 100vw;
  max-width: 300px;
}
.pinTextShow-1 {
  position: absolute;
  bottom: unset;
  opacity: 0;
  border-radius: 8px;
  top: 65%;
  left: 72%;
  transform: translateY(-30%);
  background-color: rgba(38, 60, 78, 0.9);
  box-shadow: 0 0 30px 0 #001a30;
  padding: 36px 30px;
  z-index: 1;
  width: 100vw;
  max-width: 300px;
}

h3 {
  font-family: sans-serif;
  font-size: 32px;
  color: #fff;
  line-height: 39px;
  letter-spacing: 0;
  text-shadow: 0 0 20px rgba(0, 15, 30, 0.2);
}

li {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  line-height: 23px;
  text-align: left;

  opacity: 0.7;
  font-family: Bull-Regular, BullText, Bull;

  color: #fff;

  letter-spacing: 0;
}

@keyframes pulse-yellow {
  0% {
    transform: scale(1.5);
    // box-shadow: 0 0 0 0 rgba(238, 74, 87, 0.7);
  }
  70% {
    transform: scale(1);
    // box-shadow: 0 0 0 10px rgba(238, 74, 87, 0);
  }
  100% {
    transform: scale(1.5);
    // box-shadow: 0 0 0 0 rgba(238, 74, 87, 0);
  }
}


@media only screen and (max-width: 768px){



  .hero-car {
    background-image: url(src/pages/cars/taditImg/heroImgM.jpg);
  }


  
.taditTitle1 {
 
  left: 22%;
  width: 250px;
}

.taditTitle2 {
  left: 10%;
  top: 12%;
  width: 350px;
}
.taditTitle3 {
  left: 13%;
  top: 18%;
  width: 320px;
}

.taditTitleImg1{
  width: 450px;
}

.taditTitleImg2{
  width: 400px;
}






.stat p {
  font-size: 13px;
}

.stat h2 {
  font-size: 16px;
  margin: 0;
}
.tadit-info {

  background-image: url(src/pages/cars/taditImg/tadit-infoM.PNG);
  background-size: contain;

}

.infoHeading {
  width: 350px;
  top: 5%;
  left: 10%;
}

.plusBtn{
  width: 20px;
  height: 20px;

}
#showButton{
  top: 38%;
}

#showButton2{
  top: 26%;
  left: 37%;
}

#showButton3{
  top: 40%;
}

#showButton4{
  top: 20%;
}

#showButton5{
  top: 30%;
  left: 75%;
}

.pinTextShow-1 {

    top: 49%;
    left: 20%;

    

}

.pinTextShow-2 {

  top: 20%;
  width: 100px;

}

.pinTextShow-3 {

  top: 40%;
  


}

.pinTextShow-4 {

  top: 20%;
  left: 20%;


}


.pinTextShow-5 {

  top: 25%;
  left: 25%;


}

h3{
  font-size: 1em;
}
li{
  font-size: 15px;
}
  
.infoContainer{
  width: max-content;
height: max-content;
}



}