// tadit

.tadit-info {
  position: relative;
}

.tadit {
  display: flex;
  justify-content: space-evenly;
}

.taditInfoHeading {
  font-size: 4em;
  flex-wrap: wrap;

  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #0072bb;
}

.info-title{
  color: #0072bb;
  margin-bottom: 80px;
}




.tadit {
  position: relative;
  display: flex;
  // margin-bottom: -40px;
}
.tadit-info {
  position: relative;
  width: 1800px;
  // display: flex;
}

.taditInfoImgdiv {
  margin-block: 80px;
  position: relative;
}
#showButton {
  position: absolute;
  top: 70%;
  left: 70%;
}

.taditInfoImg {
  width: 800px;
}

.plusBtn {
  width: 30px;
  height: 30px;
}

.infoBtn1 {
  position: absolute;
  left: 40%;
  top: 35%;
}

#showButton {
  position: absolute;
  // z-index: 1;
  // width: 5%;
  // height: 5%;

  left: 70%;
  top: 80%;
  // box-shadow: 0 0 0 0 #ea1d2d;
  // transform: scale(1);
  animation: pulse-yellow 2s infinite;
}

// #showButton #showButton2 :hover{
//   animation: none;
// }

#showButton2 {
  position: absolute;
  animation: pulse-yellow 2s infinite;

  left: 35%;
  top: 30%;
}

#showButton3 {
  position: absolute;
  // z-index: 1;
  // width: 5%;
  // height: 5%;
  border-radius: 50%;
  animation: pulse-yellow 2s infinite;

  // background-size: 100%;
  left: 20%;
  top: 80%;
}

#showButton4 {
  position: absolute;
  z-index: 1;
  // width: 5%;
  // height: 5%;
  border-radius: 50%;
  animation: pulse-yellow 2s infinite;

  // background-size: 100%;
  left: 50%;
  top: 3%;
}

#showButton5 {
  position: absolute;
  // z-index: 10;
  // width: 5%;
  // height: 5%;
  // pointer-events: none;
  border-radius: 50%;
  animation: pulse-yellow 2s infinite;

  // background-size: 100%;
  left: 75%;
  top: 35%;
}
.info-title {
  margin-top: 60px;

 
}




.plusBtn {
  width: 25px;
  height: 25px;
}

.pinTextShow-2 {
  position: absolute;
  // bottom: unset;
  opacity: 0;
  border-radius: 8px;
  top: 30%;
  left: 40%;
  // transform: translateY(-30%);
  background-color: rgba(38, 60, 78, 0.9);
  box-shadow: 0 0 30px 0 #001a30;
  padding: 15px 15px;
  
  width: max-content;
  max-width: 300px;
}
.pinTextShow-3 {
  position: absolute;
  // bottom: unset;
  opacity: 0;
  border-radius: 8px;
  top: 60%;

  left: 25%;
  // transform: translateY(-30%);
  background-color: rgba(38, 60, 78, 0.9);
  box-shadow: 0 0 30px 0 #001a30;
  padding: 20px 20px;
  z-index: 1;
  width: 40vw;
  max-width: 300px;
}
.pinTextShow-4 {
  position: absolute;
  // bottom: unset;
  opacity: 0;
  border-radius: 8px;
  top: 7%;
  left: 55%;
  // transform: translateY(-30%);
  background-color: rgba(38, 60, 78, 0.9);
  box-shadow: 0 0 30px 0 #001a30;
  padding: 20px 20px;
  z-index: 1;
  width: max-content;
  max-width: 300px;
}
.pinTextShow-5 {
  position: absolute;
  // bottom: unset;
  opacity: 0;
  border-radius: 8px;
  top: 26%;
  left: 80%;
  // transform: translateY(-30%);
  background-color: rgba(38, 60, 78, 0.9);
  box-shadow: 0 0 30px 0 #001a30;
  padding: 20px 20px;
  z-index: 1;
  width: max-content;
  max-width: 300px;
}
.pinTextShow-1 {
  position: absolute;
  // bottom: unset;
  opacity: 0;
  border-radius: 8px;
  top: 55%;
  left: 75%;
  // transform: translateY(-30%);
  background-color: rgba(38, 60, 78, 0.9);
  box-shadow: 0 0 30px 0 #001a30;
  padding: 15px 15px;
  z-index: 1;
  width: max-content;
  // max-width: 300px;
}

h3 {
  // font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 39px;
  letter-spacing: 0;
  text-shadow: 0 0 20px rgba(0, 15, 30, 0.2);
}

li {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  // line-height: 23px;
  text-align: left;

  opacity: 0.7;
  // font-family: Bull-Regular, BullText, Bull;

  color: #fff;

  letter-spacing: 0;
}

.specs_filter-column {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  // margin-top: 100px;
}

.specs_filter-column-item {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 282px;
  height: 104px;
  justify-content: center;
  // align-items: center;
  background-color: #0072bb;
  border-radius: 8px;
}
.specs_filter-column-item:hover{
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;

}

.oldCarInfo{
  background: rgb(66,206,219);
  background: linear-gradient(180deg, rgba(66,206,219,1) 0%, rgba(48,160,203,1) 50%, rgba(69,100,252,1) 100%);

}





.specs_filter-column-item-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}
.regular {
  margin: 10px;
  font-size: 16px;
  opacity: 0.7;
  color: #fff;
  line-height: 23px;
  letter-spacing: 0;
}

.title-bold {
  font-size: 36px;
  margin: 10px;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
}

@keyframes pulse-yellow {
  0% {
    transform: scale(1.5);
    // box-shadow: 0 0 0 0 rgba(238, 74, 87, 0.7);
  }
  70% {
    transform: scale(1);
    // box-shadow: 0 0 0 10px rgba(238, 74, 87, 0);
  }
  100% {
    transform: scale(1.5);
    // box-shadow: 0 0 0 0 rgba(238, 74, 87, 0);
  }
}

@media only screen and (max-width: 1024px) {
  .tadit {
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
  }

  .info-title {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 40px;
  }
  .plusBtn {
    width: 15px;
    height: 15px;
  }

  .tadit-info {
    // margin-bottom: -100px;
    width: 375px;
  }

  .infoContainer li {
    font-size:8px;
  }
  .infoContainer h3 {
    font-size: 12px;
  }
  .pinTextShow-5 {
    // position: absolute;
    // bottom: unset;
    // opacity: 0;
    // border-radius: 8px;
    // top: 18%;
    left: 40%;
    // transform: translateY(-30%);
    // background-color: rgba(38, 60, 78, 0.9);
    // box-shadow: 0 0 30px 0 #001a30;
    // padding: 20px 20px;
    // z-index: 1;
    // width: max-content;
    // max-width: 300px;
  }

  .pinTextShow-2{
    top: 5%;

}

  .racing {
    font-size: 1em;
  }
  // .pinTextShow-5{
  //   left: 55%;
  //   top: 2%;
  //   // z-index: -1;
  // }

  .engineInfo{
    margin-top: -60px;
  }
  .specs_filter-column-item {
    width: 150px;
    height: 150px;
  }

  .title-bold {
    font-size: 25px;
    text-align: left;
  }
  .pinTextShow-1 {
    left: 30%;
  }
  .pinTextShow-2 {
    left: 10%;
  }
}
