.splide__slider img {
    width: 100%;

    height: 100%;
    /* object-fit: cover; */
  }   
  .splide__sliders img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  .splide__sliders {
    opacity: 0.8;
  }
  
  
  .splide__sliders.is-active {
    opacity: 1;
    animation-name: moving;
    animation-duration: 1s;
    /* animation-timing-function: ease-out; */
    animation-fill-mode: forwards;
    

  }

  


  
  @keyframes moving {
      from{
        top: 0px;
        left: 0px;
      }
      to{
        top: 200px;
     
      }
  
     
    
  }
  
 